* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(35, 33, 33);
  color: #e4000f;
  font-family: "Inconsolata", monospace;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 3px solid rgb(248, 240, 240);
  gap: 5em;
}

#start {
  cursor: pointer;
}

.container-all {
  position: relative;
}

.container-game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid rgb(248, 240, 240);
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1em 3em 2em 3em;
}

#caught {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 3px solid rgb(248, 240, 240);
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;

  background-size: contain;
  background-repeat: no-repeat;
}

.pokemon > p {
  color: #e4000f;
}

.pokemon > img {
  width: 70%;
  height: auto;
}

.container-store {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;

  visibility: hidden;
}

.shop-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shop-item > img {
  width: 25px;
  height: auto;
  object-fit: cover;
}

#cash-in {
  cursor: pointer;
  padding: 2px;
}

#winning-message {
  visibility: visible;
  position: absolute;
  width: 400px;
  height: 200px;
  right: 0;
  left: 0;
  top: 0;
  /* bottom: 0; */
  margin: auto;
  background-color: rgb(248, 240, 240);
}
