* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e4000f;
  color: white;
}

#navbar {
  padding: 20px;
  border: 3px solid black;
}

#start {
  cursor: pointer;
}

.container-game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid black;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1em 3em 2em 3em;
}

#caught {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 5px solid black;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  background-size: cover;
  object-fit: cover;
}

.container-store {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;

  visibility: hidden;
}

.shop-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shop-item > img {
  width: 25px;
  height: auto;
  object-fit: cover;
}
